// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange-primary: #E15C31;
$orange-secondary: #E47450;
$orange-tertiary: #EA9A7E;
$blue-gray-primary: #446E88;
$blue-gray-secondary: #58839B;
$blue-gray-tertiary: #92BED3;

$background: #F6F3EC;